<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="clearfix">
            <h1>Ivaylo "chicho" Terziev</h1>
            <ul>
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>
       
    <footer class="main-footer">
        <span>Copyright &copy; - <h4>Ivaylo "chicho" Terziev</h4>, Lorem ipsum dolor.</span><br />
        <span>@DateTime.Now.Year - All rights reserved &reg;</span>
    </footer>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
