@model BlogCMS.Web.Models.ProjectsViewModel

<div class="clearfix main-project-box">
    <div class="img-frame">
        @*<div id="projects-carousel" class="carousel slide" data-ride="carousel">*@
            <!-- Wrapper for slides -->
            @*<div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/images/Projects/Omnifood.png" alt="First Img" />
                    <div class="carousel-caption">
                        Omnifood Site - Flat UI
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/Projects/Project1.jpg" alt="Second Img">
                    <div class="carousel-caption">
                        Wanna go fishing
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/Projects/Project2.jpg" alt="Second Img">
                    <div class="carousel-caption">
                        REALLY WANNA GO FISHING
                    </div>
                </div>
            </div>
            <div class="carousel-nav">*@
                <!-- Indicators -->
                @*<ol class="carousel-indicators">
                    <li data-target="#projects-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#projects-carousel" data-slide-to="1"></li>
                    <li data-target="#projects-carousel" data-slide-to="2"></li>
                </ol>*@

                <!-- Controls -->
                @*<a class="left carousel-control" href="#projects-carousel" role="button" data-slide="prev">
                    <img src="~/Content/images/ProjectsPage imgs/projects-carousel-arrow-left.png" alt="Left Arrow"/>
                </a>
                <a class="right carousel-control" href="#projects-carousel" role="button" data-slide="next">
                    <img src="~/Content/images/ProjectsPage imgs/projects-carousel-arrow-right.png" alt="Right Arrow"/>
                </a>
            </div>

        </div>*@
        <img src="@Model.ImgFrameUrl" alt="Project image">
    </div>
    <div class="recent-projects-content">
        <header class="content-header">
            <p class="title">@Model.Title</p>
            <p class="time-span">Time-span: @Model.TimeSpan</p>
        </header>
        <article>
            @Model.Content
        </article>
        <footer class="tags">
            <p>Type: @Model.Slug</p>
            <a class="btn btn-go-to-website" href="@Model.Url">Go to website</a>
        </footer>
    </div>
</div>
