@using System
<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Blog</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/site")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="clearfix">
            <h1>Petromil Pavlov</h1>
            <ul>
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Projects", "Index", "Projects", new { area = "" }, null)</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Skills", "Index", "Skills", new {area=""}, null)</li>
                <li>@Html.ActionLink("Store", "About", "Home")</li>
            </ul>
        </nav>
    </header>

    @*@Html.Partial("_LoginPartial")*@

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="main-footer">
        <span>Copyright &copy; - <h4>Petromil Pavlov</h4>, Domi.</span><br />
        <span>@DateTime.Now.Year - All rights reserved &reg;</span>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
